/* CSS for the HTML help files. */

body
{
	background-color: #fefefe;
	font-family: sans-serif;
	font-size: 1rem;
}

/* ---------------- Preformatted text (e.g. source code) ---------------- */

code, tt
{
	background-color: #fffff0;
	color: #660000;
}

pre
{
	font-style: normal;
	font-family: monospace;
	text-align: left;
	white-space: pre;
	border: dashed 1px #888848;
	background-color: #fffff0; /*#ffffd8;*/
	color: #000000;
	padding: 1em;
	overflow: auto;
}


/* ---------------- Definition Lists ---------------- */

dl
{
	padding-left: 0px;
	margin-left: 0px;
}

dd
{
	padding-left: 1rem;
	margin-left: 1rem;
}


/* ---------------- Hyperlinks ---------------- */

a:link
{
	color: #000080;
	text-decoration: underline;
}

a:visited
{
	color: #800080;
	text-decoration: underline;
}

a:focus { color: #ff0000; }
a:hover { color: #ff0000; }

a
{
	color: #000000;
}


/* ---------------- Horizontal Rule ---------------- */

hr
{
	width: 100%;
    color: #888888;
	background-color: #888888; /* same as "color"; needed for Mozilla Firefox. */
	height: 1px;
	border: none 0px;
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/* ---------------- Information in a sidebar/box/footnote kind of way. ---------------- */

.box
{
	color: #006000;
	background-color: #f8fff8;
	border: dotted 1px #006000;
	padding: 0.5em;
	margin: 0.5em;
	float: right;
	width: 33%;
}


/* ---------------- Quotation ---------------- */

blockquote, quote
{
	margin-left: 0;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #000044;
	background-color: #f9f9ff;
	font-style: italic;
	border-left: 4px solid #aaaaff;
}

/* Since quotations are in ITALIC (see above), this marks emphasis within a quote as non-italic. */
blockquote em, quote em, blockquote i, quote i
{
	font-style: normal;
}


/* ---------------- Tables ---------------- */

table
{
	border-collapse: collapse;
	color: #000000;
	font-size: 100%;
}

th
{
	font-weight: bold;
	font-size: 100%;
	text-align: left;
	vertical-align: top;
	border: 1px solid #aaaaaa;
	background-color: #e0e0e0;
	color: #000000;
	text-transform: none;
	padding: 0.2em;
}

td
{
	text-align: left;
	font-size: 100%;
	vertical-align: top;
	border: 1px solid #aaaaaa;
	padding: 0.2em;
}

.table_footer
{
	font-style: italic;
	text-align: right;
	vertical-align: top;
	border-width: 1px;
	color: black;
	padding: 0.2em;
}